@import url('https://fonts.googleapis.com/css?family=Anton|Raleway:300,400');
body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    color: #757575;
}

h1 {
    font-family: "Anton", sans-serif;
}

.navbar-left p {
    color: #fff !important;
    padding-top: 10%;
}

.navbar {
    background-color: transparent;
    border-color: transparent;
}
.navbar-nav>li>a {
    font-size: large;
    padding-top: 30px;
    padding-right: 50px;
    color: #212121 !important;
}
.navbar-nav>li>a:hover {
    color: #feea3b !important;
    transition: 0.5s;
}
.jumbotron{
    position: relative;
    width: 100%;
    min-height: 550px;
    background-size: cover;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7),rgba(169, 169, 169, 0.5)), url(https://media.giphy.com/media/RvzAl7OFynjuE/giphy.gif);
    box-shadow: 0px 6px 5px #ccc;
}

.jumbotron h1 {
    font-size: 5.5em;
    margin: 0;
    color: #feea3b;
}

.jumbotron h2 {
   font-size: 3em;
    font-weight: 300;
    margin: 0;
    color: #feea3b; 
}

.jumbotron .container{
    margin: 0;
    position: absolute;
    text-align: right;
    top: 20%;
    left: 12%;
}
.skewmask-block {
    position: absolute;
    width: 100%;
    height: 75;
    background: #fff;
    top: 0;
    left: 0;
    top: 94%;
    transform: skewY(2.6deg);
}
.works h1 {
    text-align: center;
    margin-bottom: 80px;
    font-family: "Raleway", sans-serif !important;
}

figure {
    margin: 0;
    width: 300px;
}

figure.effect-lily img {
	max-width: none;
	width: 300px;
	width: 300px;
	-webkit-filter: grayscale(95%);
    filter: grayscale(95%);
	-webkit-transition: filter 0.35s, -webkit-transform 0.35s;
	transition: filter 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0, 10px, 0);
	transform: translate3d(0, 10px, 0);
    cursor: pointer;
    box-shadow: 0px 6px 5px #ccc;
}

figure.effect-lily figcaption {
	text-align: left;
}

figure.effect-lily:hover figure.effect-lily figcaption {
	position: absolute;
	bottom: 0;
	left: 15px;
	padding: 2em;
	width: 300px;
	height: 50%;
    background-color: #bcbcbc;
}

figure.effect-lily h2 {
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-lily h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-lily h2 {
    font-size: 1em;
   /* text-transform: uppercase;*/
}

figure.effect-lily p,
figure.effect-lily h2 {
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}
figure.effect-lily:hover p,
figure.effect-lily:hover h2 {
	opacity: 1;
}
figure.effect-lily img:hover {
    -webkit-filter: grayscale(5%);
    filter: grayscale(5%);  
    transition: 0.5s;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}
.works .container {
    margin-bottom: 50px;
}
.load-more {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
}
.load-more .btn {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: #bcbcbc;
    border-color: #bcbcbc;
    padding-top: 30px;
    margin: 0;
    box-shadow: 0px 6px 5px #ccc;
}
.load-more .btn p {
    font-size: 18px;
    color: white;
    padding: 10px;
}
.load-more .btn:hover {
    background: #feea3b;
    transform: scale(1.01);
    transition: 1s;
    border: none;
}
.load-more h2 {
    padding-bottom: 30px;
}
.code .row {
    padding-top: 2%;
}

.code h1 {
    color: #fff;
    font-size: 4em;
    padding-top: 10%;
}
.code {
    background-image: linear-gradient(to left, rgba(254,234,59, 0.7),rgba(1254,234,59, 0.7)), url(images/background1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.code {
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 700px;
}
.code .btn {
    border-style: none;
    height: 150px;
    width: 150px;
    background-color: transparent;
    margin-top: 3%;
    text-align: center;
}
.code .btn p {
    font-size: 1.2em;
    color: #fff;
    margin: 0;
    opacity: 0;
    transform: translate3d(0,-10px,0);
    text-align: center;
}

.code .btn:hover p {
    opacity: 1;
    transition: 0.5s;
}

.code img {
    height: 150px;
    width: 150px;
    margin: 0 auto;
}

.skewmask-block-code {
    position: absolute;
    width: 100%;
    height: 120px;
    background: #fff;
    top: 0;
    left: 0;
    top: -8%;
    transform: skewY(-4deg);
}
.About-me {
    position: relative;
    text-align: right;
    width: 100%;
    min-height: 300px;
    background-color: #fff;
    color: #53565F;
    margin: 12% 5%;
}

.col-hello {
    padding-right: 10%;
    padding-bottom: 4%;
}

.About-me h1 {
    color: #feea3b;
    font-size: 7.8em;
}

.About-me p {
    font-size: 1.1em;
}

.col-main-text {
    text-align: left;
    padding-right: 7%;
}

.span-about-me {
    font-size: 1.5em;
    margin: 0%;
}

.About-me .btn {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: #bcbcbc;
    border-color: #bcbcbc;
    padding-top: 30px;
    margin: 0;
    box-shadow: 0px 6px 5px #ccc;
    margin-right: 7%;
}

.About-me .btn .fa {
    color: #fff;
}

.About-me .btn p {
    color: #fff;
    font-size: 1.5em;
    padding-top: 2%;
}

.About-me .container-button {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
}

.skewmask-block-footer {
    position: absolute;
    width: 100%;
    height: 90;
    background: #fff;
    top: 0;
    left: -5%;
    top: -32%;
    transform: skewY(3.5deg);
    background-color: #fff;
}

.Contact {
    background-color: #feea3b;
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 300px;
}

.Contact .kama-photo {
    background-image: url(images/kama-img.jpg);
    height: 160px;
    width: 160px;
    border-radius: 50%;
    filter: grayscale(95%);
    background-repeat: no-repeat;
    margin-top: 2%;
    cursor: pointer;
    margin-left: 5%;
    box-shadow: 0px 6px 5px #455159;
}

.Contact .kama-photo:hover {
    filter: grayscale(5%);
}

.contact-form {
    padding-top: 5%;
    margin-left: 5%;
}

.contact-form p {
    font-size: 1.3em;
}

.skewmask-block-contact {
    position: absolute;
    width: 100%;
    height: 90px;
    background-color: #feea3b;
    top: 0;
    left: 0;
    top: -15%;
    transform: skewY(3.7deg);
}

input, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: transparent;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}

.footer {
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 200px;
    padding-top: 2%;
    background-color: #757575;
    color: #feea3b;
}

.footer .btn {
    background-color: #feea3b;
    border-radius: 50px;
    border-style: none;
    height: 6em;
    width: 6em;
    margin: 5px;
    box-shadow: 0px 6px 5px #455159;
}
.footer .container-btn {
        padding-top: 2.5%;
}
.footer .fa {
    color: #757575;
    padding-top: 15px;
}
.footer-end {
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 100px;
    background-color: #feea3b;
    color: #757575;
    padding-top: 5%;
}
.skewmask-block-footer2 {
    position: absolute;
    width: 100%;
    height: 120px;
    background-color: #757575;
    top: 0;
    left: 0;
    top: -30%;
    transform: skewY(-4deg);
}











